@import './reset';
.loadmore,
.shareMask {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 100;
    img {
        width: 100%;
        height: 100%;
    }
    &.close {
        display: none;
    }
}

#index {
    .banner {
        $height: 240px; //banner总高
        $head-height: 60px; //头像宽高和中线高度
        overflow: hidden;
        width: 100%;
        height: $height;
        background: url("../img/bg1.png") no-repeat center center/ cover;
        .top,
        .down {
            position: relative;
            height: 50%;
            width: 100%;
        }
        .top {
            .imgbox {
                position: absolute;
                left: calc(50% - #{$head-height} / 2);
                top: ($height / 2 - $head-height - 22px - 10px) / 2;
                width: $head-height;
                height: $head-height;
                border-radius: 50%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            p {
                position: absolute;
                left: 0;
                bottom: ($height / 2 - $head-height - 22px - 10px) / 2;
                text-align: center;
                width: 100%;
                color: #fff;
            }
        }
        .down {
            .left,
            .right {
                width: 50%;
                height: 100%;
                float: left; // @include flex;
                justify-content: center;
                align-items: center;
                position: relative;
                .imgbox {
                    position: absolute;
                    top: ($height / 2 - $head-height - 22px - 10px) / 2;
                    left: calc(50% - (#{$head-height} / 2));
                    width: $head-height;
                    height: $head-height;
                    overflow: hidden;
                    background: url('../img/defaulthead.png') no-repeat center center/ cover;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                button {
                    position: absolute;
                    bottom: ($height / 2 - $head-height - 22px - 10px) / 2;
                    left: 26px;
                    height: 22px;
                    font-size: 14px;
                    line-height: 22px;
                }
                h1 {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    color: #fff;
                    font-size: 54px;
                    text-align: center;
                    font-weight: lighter;
                }
                p {
                    position: absolute;
                    color: #fff;
                    font-size: 16px;
                    width: 100%;
                    text-align: center;
                    bottom: ($height / 2 - 70px - 25px) / 2;
                    &.username {
                        bottom: $height/4 - 5px;
                    }
                }
            }
            .left:after {
                content: '';
                position: absolute;
                right: 0;
                top: 15px;
                height: 90px;
                width: 1px;
                background: #C7C0B0;
            }
        }
    } //列表
    .listbox {
        width: 92%;
        background: #f5f5f5;
        margin: 15px auto;
        height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        ul {
            padding: 10px;
            li {
                $img: 60px;
                margin-bottom: 15px;
                height: 60px;
                .imgbox {
                    width: $img;
                    height: $img;
                    float: left;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
                .words {
                    height: $img;
                    width: calc(100% - #{$img} - 5px);
                    margin-left: 5px;
                    float: right;
                    p {
                        font-size: 13px;
                        margin-bottom: 5px;
                    }
                    .datetime {
                        font-size: 12px;
                    }
                }
            }
        }
    } // 课程列表
    .exchangeList {
        width: 96%;
        margin: 15px auto;
        .title {
            width: 100%;
            height: 21px;
            margin-bottom: 10px;
            em {
                float: left;
                font-size: 16px;
            }
            a {
                float: right;
                color: $baseColor;
            }
        }
        ul {
            li {
                $img: 80px;
                height: $img+10px;
                margin-bottom: 10px;
                border-bottom: 1px solid #f5f5f5;
                .imgbox {
                    width: $img;
                    height: $img;
                    float: left;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .words {
                    height: $img;
                    width: calc(100% - 20px - (#{$img} * 2));
                    margin-left: 10px;
                    float: left;
                    .projectName {
                        font-size: 18px;
                        font-weight: bold;
                        color: $fontColor;
                    }
                    .integral {
                        margin-top: 10px;
                        font-size: 13px;
                        em {
                            color: $baseColor;
                            margin-right: 5px;
                            font-size: 16px;
                        }
                    }
                }
                .exchangeBtn {
                    float: right;
                    width: $img - 10px;
                    height: $img - 10px;
                    border-radius: 50%;
                    background: $baseColor;
                    color: #fff;
                    text-align: center;
                    line-height: $img - 10px;
                    border: 0;
                    font-size: 16px;
                    &[disabled] {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}

// 兑换记录
#record {
    .recordList {
        width: 100%;
        li {
            $img: 80px;
            height: $img + 30px;
            border-bottom: 1px solid #f5f5f5;
            padding: 5px 10px;
            .datetime {
                font-size: 12px;
                color: #666;
            }
            .down {
                .imgbox {
                    float: left;
                    width: $img;
                    height: $img;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .words {
                    height: $img;
                    width: calc(100% - 100px - #{$img});
                    margin-left: 10px;
                    float: left;
                    .projectName {
                        font-size: 18px;
                        font-weight: bold;
                        color: $fontColor;
                    }
                    .integral {
                        font-size: 13px;
                        margin-bottom: 4px;
                        em {
                            color: $baseColor;
                            margin-right: 5px;
                            font-size: 16px;
                        }
                    }
                    .tab {
                        width: 60px;
                        height: 26px;
                        display: block;
                        background: #32b16c;
                        color: #fff;
                        text-align: center;
                        line-height: 26px;
                        &.on {
                            background: #bfc2c0;
                        }
                    }
                }
                .code {
                    width: 90px;
                    float: right;
                    p {
                        font-size: 30px;
                        margin-bottom: 3px;
                    }
                    span {
                        display: block;
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }
}

// 分享
#share {
    background: url('../img/sharebg.png') no-repeat center center/ 100% 100%;
    height: 100%;
    width: 100%;
    position: relative;
    .qrcodeBox {
        position: absolute;
        left: calc(50% - 110px);
        bottom: 14px;
        width: 220px;
        .qrcode {
            width: 100%;
            height: 220px;
            background: #fff;
            display: none;
        }
        .imgbox {
            width: 100%;
            height: 220px;
            margin-bottom: 10px;
            @include flex;
            justify-content: center;
            align-items: center;
        }
        P {
            text-align: center;
            button {
                text-align: center;
                font-size: 16px;
                font-weight: bold;
                background: #e64340;
                color: #fff;
                border: 0;
                padding: 3px 6px;
                border-radius: 4px;
            }
        }
    }
    @media screen and (max-width: 330px) {
        .qrcodeBox {
            left: calc(50% - 95px);
            bottom: 0;
            width: 190px;
            .imgbox {
                height: 190px;
                margin-bottom: 5px;
            }
        }
    }
}