<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>和润心理</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
    <link href="https://cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div id="index">
        <div class="loadmore" :class="{'close':isload}"></div>
        <div class="shareMask" :class="{'close':!shareImg}" @click="shareTips(0)"><img :src="shareImg"></div>
        <div class="banner">
            <div class="top">
                <div class="imgbox"><img :src="headImgUrl"></div>
                <p class="username">{{nickname}}</p>
            </div>
            <div class="down">
                <div class="left">
                    <div class="imgbox" @click="shareTips(1)"><img src="./img/qrCode.png"></div>
                    <button type="button" @click="shareTips(1)" class="weui-btn weui-btn_mini weui-btn_warn">分享我的二维码</button>
                </div>
                <div class="right">
                    <h1>{{integral}}</h1>
                    <p>当前积分</p>
                </div>
            </div>
        </div>
        <!--扫码列表盒子  -->
        <div class="listbox">
            <ul>
                <li v-for="integral in integralRecordList" :key="integral.id">
                    <div class="imgbox"><img :src="integral.weixinHeadimg"></div>
                    <div class="words">
                        <p>{{integral.weixinNickname}}通过扫描你的二维码加入了和润心里，你获得了{{integral.integral}}积分</p>
                        <p class="datetime">{{integral.createTime}}</p>
                    </div>
                </li>
            </ul>
        </div>
        <!--课程列表  -->
        <div class="exchangeList">
            <div class="title">
                <em>积分兑换</em>
                <a href="record.html">兑换记录</a>
            </div>
            <ul>
                <li v-for="goods in goodsList" :key="goods.id">
                    <div class="imgbox"><img :src="baseImageUrl+goods.img" alt="课程图片"></div>
                    <div class="words">
                        <p class="projectName">{{goods.name}}</p>
                        <p class="integral"><em>{{goods.integral}}</em>积分</p>

                    </div>
                    <button class="exchangeBtn" type="button" :disabled="integral<goods.integral" @click="exchange(goods.id,goods.integral)">兑 换</button>
                </li>
            </ul>
        </div>
    </div>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.3.4/vue.min.js"></script>
    <script src="js/sct.min.js"></script>
    <script src="js/service.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>